body {
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 24px;
}

section {
  padding: 20px 0;
}

section > div {
  padding: 14px;
  font-size: 16px;
}

iron-collapse {
  display: block;
        transition-duration: 300ms;
        overflow: visible;
}

iron-collapse.iron-collapse-closed {
  display: none;
}

iron-collapse:not(.iron-collapse-opened) {
  overflow: hidden;
}

body {transition: opacity ease-in 0.2s; }
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; }

.heading:not([style-scope]):not(.style-scope) {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    text-align: left;
}

.content:not([style-scope]):not(.style-scope) {
  padding: 15px;
        border: 1px solid #dedede;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#collapse3:not([style-scope]):not(.style-scope) {
  max-height: 250px;
}

.button_left {
    float : left;
}

.button_right {
    float : right;
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 10px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	-webkit-transition:all .2s ease;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 50px;
	-webkit-transition:all .2s ease;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }